
<section class="modal-main">




  <div class="modal-backdrop">
    <div class="modal-container">



      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Titulo</h5>
        </div>
        <div class="modal-body">
          <div class="modal-description">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus, obcaecati.</p>
          </div>
          <div class="modal-button">
            <button class="button-primary" (click)="closeModal()">Cerrar</button>
          </div>

        </div>

      </div>


    </div>
  </div>





</section>










