<div class="data-api">
  <div class="data-api-item" *ngFor="let information of apiData">
    <div class="data-api-item-preheader">
      <div class="data-api-item__id">
        <p>{{ information.id }}</p>
      </div>
    </div>
    <div class="data-api-item-heading">
      <div class="data-api-item__userid">
        <p>{{ information.userId }}</p>
      </div>
      <div class="data-api-item__title">
        <h4>{{ information.title }}</h4>
      </div>
    </div>
    <div class="data-api-item__body">
      <p>{{ information.body }}</p>
    </div>
  </div>
</div>


