.data-api{
  padding: 10px;
  border-radius: 10px;
  overflow: hidden;
  &-item{

    display: flex;
    flex-direction: column;
    padding: 1rem 0;
    border-bottom: 1px solid white;
    margin-bottom: 20px;
    p{
      margin: 0;
    }

    &-preheader{
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 20px;
      .data-api-item__id{
        width: 50px;
        height: 50px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 30px;
        background-color: white;
        color: #34c471;
        font-weight: bold;
      }
    }

    &-heading{
      display: flex;
      flex-wrap: wrap;
    }
    &__userid{
      width: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 20px;
    }
    &__title{
      text-align: left;
    }
    &__body{
      text-align: left;
    }
  }
}
